.sekce {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uvodni-obrazek-wrapper {
    width: 95%;
    height: 50vh;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 30px;
}
.uvodni-obrazek-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.o-nas-hlava {
    text-align: center;
    padding: 25px 15px;
    margin: 40px;
    border-radius: 12px;
    background: pink;

    margin-top: 80px;
}
.o-nas-hlava h1 {
    font-size: 40px;
}

.o-nas-1 {
    text-align: center;
    padding: 0 15px;
    margin: 20px;
    max-width: 1200px;
}
.o-nas-1 h2 {
    font-size: 24px;
    margin: 20px;
}
.o-nas-1 p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 15px;
}

.o-nas-2 {
    text-align: center;
    padding: 0 15px;
    margin: 20px;
    max-width: 1200px;
}
.o-nas-2 h2 {
    font-size: 24px;
    margin: 20px;
}
.o-nas-2 p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 15px;
}

.o-nas-3 {
    text-align: center;
    padding: 0 15px;
    margin: 20px;
    max-width: 1200px;
}
.o-nas-3 h2 {
    font-size: 24px;
    margin: 20px;
}
.o-nas-3 p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 15px;
}

.o-nas-4 {
    text-align: center;
    padding: 0 15px;
    margin: 20px;
    max-width: 1200px;
}
.o-nas-4 h2 {
    font-size: 24px;
    margin: 20px;
}
.o-nas-4 p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 15px;
}

.o-nas-kontakt {
    text-align: center;
    background: pink;
    padding: 25px 15px;
    margin-top: 30px;
}
.o-nas-kontakt h2 {
    font-size: 22px;
}
.o-nas-kontakt p {
    font-size: 16px;
}

@media (min-width: 700px) {
    .o-nas-hlava h1 {
        font-size: 70px;
    }
    .o-nas-1 h2 {
        font-size: 40px;
        margin: 20px;
    }
    .o-nas-1 p {
        font-size: 20px;
        margin: 20px;
    }
    .o-nas-2 h2 {
        font-size: 40px;
        margin: 20px;
    }
    .o-nas-2 p {
        font-size: 20px;
        margin: 20px;   
    }
     .o-nas-3 h2 {
        font-size: 40px;
        margin: 20px;
    }
    .o-nas-3 p {
        font-size: 20px;
        margin: 20px;
    }
     .o-nas-4 h2 {
        font-size: 40px;
        margin: 20px;
    }
    .o-nas-4 p {
        font-size: 20px;
        margin: 20px;
    }
    .o-nas-kontakt h2 {
        font-size: 40px;
    }
    .o-nas-kontakt p {
        font-size: 20px;
    }
}
