.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: gray; /*Dočasně*/
    margin: 0px 15px 15px 15px;
}

.nav-logo {
    height: 70px;
}

/*Hamburger Navigace*/
.hamburger-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.hamburger-nav li {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 11px 30px;
}

.hamburger-nav li:hover {
    background-color: rgba(46, 42, 57, 0.04);
}

.hamburger-nav a {
    text-decoration: none;
    color: rgb(46, 42, 57);
}

/*Tablet*/
@media (min-width: 768px) {

}

/*Počítač*/
@media (min-width: 1024px) {

}