.o-nas-hlava {
    text-align: center;
    padding: 25px 15px;
    background: pink;
}
.o-nas-hlava h1 {
    font-size: 26px;
}

.o-nas-text {
    padding: 0 15px;
    margin: 20px;
}
.o-nas-text h2 {
    font-size: 24px;
}
.o-nas-text p {
    font-size: 16px;
    line-height: 1.5;
}

.o-nas-2 {
    padding: 0 15px;
    margin: 20px
}
.o-nas-2 h2 {
    font-size: 24px;
}
.o-nas-2 p {
    font-size: 16px;
    line-height: 1.5;
}

.o-nas-3 {
    padding: 0 15px;
    margin: 20px;
}
.o-nas-3 h2 {
    font-size: 24px;
}
.o-nas-3 p {
    font-size: 16px;
    line-height: 1.5;
}

.o-nas-4 {
    padding: 0 15px;
    margin: 20px;
}
.o-nas-4 h2 {
    font-size: 24px;
}
.o-nas-4 p {
    font-size: 16px;
    line-height: 1.5;
}

.o-nas-kontakt {
    background: pink;
    padding: 25px 15px;
    margin-top: 30px;
}
.o-nas-kontakt h2 {
    font-size: 22px;
}
.o-nas-kontakt p {
    font-size: 16px;
}

@media (min-width: 700px) {
    .o-nas-hlava h1 {
        font-size: 32px;
    }
    .o-nas-text h2 {
        font-size: 40px;
    }
    .o-nas-text p {
        font-size: 20px;
    }
    .o-nas-2 h2 {
        font-size: 40px;
    }
    .o-nas-2 p {
        font-size: 20px;
    }
     .o-nas-3 h2 {
        font-size: 40px;
    }
    .o-nas-3 p {
        font-size: 20px;
    }
     .o-nas-4 h2 {
        font-size: 40px;
    }
    .o-nas-4 p {
        font-size: 20px;
    }
    .o-nas-kontakt h2 {
        font-size: 40px;
    }
    .o-nas-kontakt p {
        font-size: 20px;
    }
}
