.o-nas-hlava {
    width: 100%;
    background-color: pink;
    padding: 40px 20px;
    text-align: center;
}

.o-nas-hlava h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    color: black;
}
.o-nas-text {
    max-width: 900px;
    margin: 40px;
    padding: 0 20px;
}

.o-nas-text h2 {
    font-size: 50px;
    margin-bottom: 10px;
    color: black;
} 

.o-nas-text p {
    font-size: 23px;
    line-height: 1.6;
    color: black;
}

.o-nas-kontakt {
    width: 100%;
    background-color: pink;
    padding: 40px 20px;
    margin-top: 50px;
}

.o-nas-kontakt h2 {
    margin-top: 0;
    font-size: 30px;
    color: black;
}

.o-nas-kontakt p {
    font-size: 20px;
    color: black;
    margin: 5px 0;
}